<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensores</title>
    <!-- Llamando el CDN de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Llamando el CDN de fontawesome -->
    <script src="https://kit.fontawesome.com/6d3b596002.js" crossorigin="anonymous"></script>
  </head>
<body>
    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"> 
        <img src="https://pregrado.ucundinamarca.edu.co/pluginfile.php/1/theme_edumy/headerlogo2/1696264350/ESCUDO-BLANCO-H.png" width="130" height="80" class="d-inline-block align-top" alt="">
      </a>
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <!-- Contenido de la pagina -->
    <div class="container">
      <div class="row">
        <div class="col-12" style="margin-top: 20px; text-align: center;">
          <h1>Sensores</h1>
        </div>
        <div class="col-12" style="margin-top: 20px; text-align: center;">
          <!-- switch button play and stop -->
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input  d-none" id="customSwitch1">
            <!-- fontawesome icon -->
            <label class=" btn btn-dark" for="customSwitch1"><i class="fas fa-play"></i></label>
          </div>
        </div>
      </div>
      <div id="datos" style="display: none;"></div>
      <div id="tablas" class="row" style="margin-top: 20px;">
        <div class="col-3">
          <table id="sensorPIR_table" class="table table-dark">
          </table>
        </div>
        <div class="col-3">
          <table id="sensorDistance_table" class="table table-dark">
          </table>
        </div>
        <div class="col-3">
          <table id="sensorTemperature_table" class="table table-dark">
          </table>
        </div>
        <div class="col-3">
          <table id="sensorHumedad_table" class="table table-dark">
          </table>
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function llamarAPI() {
            // Obtener el host y el puerto
            var host = window.location.hostname;
            var port = window.location.port; 
            // Crea una solicitud POST
            // const request = new Request('http://' + host + ':' + port + '/sensorsApi', {
            const request = new Request('https://' + host + '/sensorsApi', {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json'
              }
            });
          
            // Envia la solicitud
            fetch(request).then(function(response) {
              // Procesa la respuesta
              if (response.ok) {
                // Convierte la respuesta a JSON
                response.json().then(function(data) {
                  // Actualiza los datos en la pagina
                  document.getElementById("datos").textContent = JSON.stringify(data);
                  // Actualiza la tabla
                  var tabla = document.getElementById("sensorPIR_table");
                  var datos = JSON.parse(document.getElementById("datos").textContent);
                  // tabla de sensor PIR
                  var tablaHTML = "<thead><tr><th scope='col' colspan='4'>Sensor PIR</th></tr><tr><th scope='col'>ID</th><th scope='col'>Valor</th><th scope='col'>Fecha</th></tr></thead><tbody>";
                  var sensorPIR_array = datos['sensorPIR'];
                  for (var i = 0; i < sensorPIR_array.length; i++) {
                    tablaHTML += "<tr><td>" + sensorPIR_array[i][0] + "</td><td>" 
                    if (sensorPIR_array[i][1] == 1) {
                      tablaHTML += "Obstaculo";
                    } else {
                      tablaHTML += "No obstaculo";
                    }
                    tablaHTML += "</td><td>" + sensorPIR_array[i][2] + "</td></tr>";
                  }
                  tablaHTML += "</tbody>";
                  tabla.innerHTML = tablaHTML;
                  // tabla de sensor de distancia
                  var tabla = document.getElementById("sensorDistance_table");
                  var tablaHTML = "<thead><tr><th colspan='4' scope='col'>Distancia</th></tr><tr><th scope='col'>ID</th><th scope='col'>Valor</th><th scope='col'>Fecha</th></tr></thead><tbody>";
                  var sensorDistance_array = datos['sensorDistance'];
                  for (var i = 0; i < sensorDistance_array.length; i++) {
                    tablaHTML += "<tr><td>" + sensorDistance_array[i][0] + "</td><td>" + sensorDistance_array[i][1] + "</td><td>" + sensorDistance_array[i][2] + "</td></tr>";
                  }
                  tablaHTML += "</tbody>";
                  tabla.innerHTML = tablaHTML;
                  // tabla de sensor de temperatura
                  var tabla = document.getElementById("sensorTemperature_table");
                  var tablaHTML = "<thead><tr><th colspan='4' scope='col'>Temperatura</th></tr><tr><th scope='col'>ID</th><th scope='col'>Valor</th><th scope='col'>Fecha</th></tr></thead><tbody>";
                  var sensorTemperature_array = datos['sensorTemperature'];
                  for (var i = 0; i < sensorTemperature_array.length; i++) {
                    tablaHTML += "<tr><td>" + sensorTemperature_array[i][0] + "</td><td>" + sensorTemperature_array[i][1] + "</td><td>" + sensorTemperature_array[i][2] + "</td></tr>";
                  }
                  tablaHTML += "</tbody>";
                  tabla.innerHTML = tablaHTML;
                  // tabla de sensor de humedad
                  var tabla = document.getElementById("sensorHumedad_table");
                  var tablaHTML = "<thead><tr><th colspan='4' scope='col'>Humedad</th></tr><tr><th scope='col'>ID</th><th scope='col'>Valor</th><th scope='col'>Fecha</th></tr></thead><tbody>";
                  var sensorHumedad_array = datos['sensorHumedad'];
                  for (var i = 0; i < sensorHumedad_array.length; i++) {
                    tablaHTML += "<tr><td>" + sensorHumedad_array[i][0] + "</td><td>" + sensorHumedad_array[i][1] + "</td><td>" + sensorHumedad_array[i][2] + "</td></tr>";
                  }
                  tablaHTML += "</tbody>";
                  tabla.innerHTML = tablaHTML;
                });
                // setear los datos en el grafico
                var datos = JSON.parse(document.getElementById("datos").textContent);
              } else {
                // La respuesta no fue exitosa
                console.log(response.statusText);
              }
            });
        }
        {/* llamar el api cada 10 segundo */}
        var switchButton = document.getElementById("customSwitch1");
        let nIntervId;
        switchButton.addEventListener("click", function() {
          if (switchButton.checked) {
            if (!nIntervId) {
              // nIntervId = setInterval(llamarAPI, 10000);
              nIntervId = setInterval(llamarAPI, 1000);
            }
            // change icon
            document.getElementById("customSwitch1").nextElementSibling.innerHTML = "<i class='fas fa-stop'></i>";
          }
          else {
            // stop nIntervId
            clearInterval(nIntervId);
            nIntervId = null;
            // change icon
            document.getElementById("customSwitch1").nextElementSibling.innerHTML = "<i class='fas fa-play'></i>";
          }
        });
        // var datos = JSON.parse(document.getElementById("datos").textContent);
       
    </script>
</body>
</html>
